body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

header {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 20vw;
    padding-top: 3vh;
}

header h1 {
    display: flex;
    margin: 0px;
    align-items: center
}

header ul {
    display: flex;
    justify-content: center;
    gap: 5vw;
    list-style-type: none;
    margin: 0px;
}

header a {
    text-decoration: none;
    color: #1c1c1c;
}

.kartlar {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.kart {
    height: 80vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 3vh;
}

.kart h4 {
    margin: 0px;;
}

.kart p {
    margin: 0px;    
}

.kart .resim {
    width: 30vw;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

.kart .mozart {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Wolfgang-amadeus-mozart_1.jpg/330px-Wolfgang-amadeus-mozart_1.jpg");
}
.kart .beethoven {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Beethoven.jpg/300px-Beethoven.jpg");
}

.kart .bach {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Johann_Sebastian_Bach.jpg/330px-Johann_Sebastian_Bach.jpg");
    background-position: top;
}

.kart .text {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}