body {
    background-color: #fafcf0;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

header {
    position: fixed;
    background-color: #f0f8ff;
    border: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 20vw;
    padding: 3vh 0px;
}

header h1 {
    display: flex;
    margin: 0px;
    align-items: center
}

header ul {
    display: flex;
    justify-content: center;
    gap: 5vw;
    list-style-type: none;
    margin: 0px;
}

header a {
    text-decoration: none;
    color: #1c1c1c;
}

.kartlar {
    padding-top: 15vh;
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.kartlar-tür {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.kart-tür {
    height: 80vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 3vh;
}

.kart-tür h4 {
    margin: 0px;;
}

.kart-tür p {
    margin: 0px;
}

.kart-tür .resim-tür {
    width: 30vw;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

.kart-tür .avangard {
    background-image: url("https://ecmreviews.files.wordpress.com/2014/04/rle.jpg");
}
.kart-tür .koro {
    background-image: url("https://www.kulturportali.gov.tr/repoKulturPortali/large/EtkinlikHaber/20180327115215611_bursa%20klasik.jpg?format=jpg&quality=50");
}

.kart-tür .oda{
    background-image: url("https://static.ohu.edu.tr/uniweb/media/haber/658/rulz22yn.jpg");
    background-position: top;
}

.kart-tür .text-tür {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.kart .Vivaldi {
    background-image: url("https://cdn.britannica.com/34/144034-050-263CF4C1/Antonio-Vivaldi-writing-desk.jpg");
}
.kart .Chopin {
    background-image: url("https://i.pinimg.com/236x/2f/b0/e1/2fb0e15d69ab072489385ae6b738cd43.jpg");
}
.kart .Ludovico {
    background-image: url("https://images.immediate.co.uk/production/volatile/sites/24/2021/01/Who-is-Ludovico-Einaudi-9789104.jpg" );
    background-position: top;
}

.kart .text {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.müzisyen {
  font-size:15px;
  height: 80vh;
  width:60vh;
  display:flex;
  flex-direction:column;
  justify-content:start;
  gap:3vh;
  align-items: center;
}

.wagner h4 {
    padding: 0px;
}

.wagner p {
    padding: 0px;
}

.wagner{
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUc6o4MIyZ3nsA3UCkgjpZ7jIJd3RQBPZonw&usqp=CAU")
}
.test{
  width: 30vw;
  height: 40vh;
  display:flex;
}
.iki{
    display: flex;
    justify-content:center;
    gap:5vh
}

div.tere{
  text-align:center;
  font-size: 26px;
  font-style:italic;
  width: 40vw;
  height: auto;
  justify-content: center;

}

.tere{
  display: flex;
  flex-direction: column;
}

#text {
  display: flex;
  flex-flow: column;
}

.kart .resim {
    width: 30vw;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

.kart .text {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.kart {
    height: 80vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 3vh;
}

.kart h4 {
    margin: 0px;
}

.kart p {
    margin: 0px;    
}

.bottom-section {
    display: flex;
    justify-content: center;
    gap: 10vw;
    background-color: #fafcf0;
}

.feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    align-items: center;
}

.feed .text {
    height: auto;
    width: 40vw;
}

.button {
    width: 80%;
    height: 5vh;
    background-color: #3882F6;
    border: 0px;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 20px;
}

.enstrümanlar {
    flex: 1;
    max-width:50%;
    padding: 5px;
    height: 350px;
    margin:1%;
    flex-shrink:1;
    flex-basis:23%;
    box-sizing:border-box;
    text-shadow: -1px 1px rgb(0, 0, 0),
                -2px 2px blue,
                -2px 3px red;
    font-family: Verdana ;
    text-align: center;
    width: 400px;
    padding: 30px;
    border: 22px solid navy;
    margin: auto;
    width: 60%;
    padding: 10px;
}
body {
    text-align: center;
}
 
hr {
    width: 60%;
    border-style: solid;
    color: cornflowerblue;
    border-width: 2px;
    text-align: center;
}